:root{
    --font:'Oxygen', sans-serif;
    --headline1: 700 95px/153.71px var(--font);
    --headline2: 700 59px/95.46px var(--font);
    --headline3: 700 48px/77.66px var(--font);
    --headline4: 700 34px/55.01px var(--font);
    --headline5: 700 24px/38.83px var(--font);

    --body1: 400 16px/25.89px var(--font);
    --body2: 400 14px/22.65px var(--font);
    --fontButton: 700 14px/22.65px var(--font);
    --caption: 400 12px/19.42px var(--font);

    --black:#0F0A0A;
    --primary:#42E2B8;
    --gradient:linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: var(--gradient);
    min-height: 100vh;
    font: var(--body1);
}
img{
    display: block;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
li{
    list-style: none;
}
.l-container{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1232px;
    padding: 1em;
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo-img{
    max-width: 40px;
}
.navigation{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu-item{
    margin: 0 1em;
}
.menu-item a{
    font: var(--body2);
}
.menu-item a.active{
    font:var(--fontButton);
}
.btn{
    font:var(--fontButton);
    color: var(--black);
    padding: .3em .6em;
    border-radius: 1em;
    text-transform: uppercase;
    border: 2px solid var(--black);
    
}
/****************************/
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 2em;
}
.banner-description{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}
.banner-description h3{
    font:var(--headline3);
}
.banner-description h2{
    font:var(--headline2);
}
.banner-description p{
    font:var(--body1);
    margin-top: 1.4em;
    margin-bottom: 1em;
}
.banner-img{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner-img img{
    max-width: 500px;
}
.social{
    display: flex;
}
.social-item{
    background: var(--primary);
    border: 2px solid var(--black);
    border-radius: 4px;
    padding: 5px;
    margin-right: 1em;
}
.social-item:last-child{
    margin-right: 0;
}
.social-item img{
    max-width: 45px;
}

/***************************/
.btn-primary{
    background: var(--primary);
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
}
.btn-secundary{
    background: transparent;
    filter: drop-shadow(-4px 4px 14px rgba(0, 0, 0, 0.25));
}
/********************************/
.presentation{
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font:var(--font);
    font-size: 1.3em;
    line-height: 38px;
}
.txt1{
    font-weight: 400;
    margin-bottom: .7em;
}
.txt2{
    font-weight: 700;
}
.presentation img{
    max-width: 50px;
}
/*******************/
.projects{
    display: flex;
    margin:2em 0;
}
.project-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.project-item img{
    max-width: 400px;
}
.proy-even{
    flex-direction: row-reverse;
}
.project-title{
  padding: .5em;
  background: var(--black);
  color: var(--primary);
  box-shadow: -4px 4px 0 white;
  display: inline-block;
  margin-bottom: 1em;
}
.project-cta{
    display: flex;
    margin-top: 1.3em;
}
 .full{
display: flex;
justify-content: space-between;
margin-left: .7em;
}
.icon-github{
    display: inline-block;
    max-width: 20px;
}
/****************************/
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
   border-radius: 1.5em;
   backdrop-filter: blur(39.7657px);
   background: rgba(255,255,255,.2);
   border: 3.98px solid rgba(255,255,255,.4);
}
.testimony-copy {
    font-size: 2.2em;
    line-height: 55px;
    font-weight: bold;
    margin: 1em 0;
  }
  
  .testimony-title {
    color: rgba(0,0,0,.4);
    text-transform: uppercase;
    line-height: 20px;
    font-size: 1.5em;
  }
.testimony-image{
    max-width: 70px;
}
.contact{
    width: 100%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: .4em;
}
.contact-title{
    padding: 0.5em;
    background: var(--black);
    color: var(--primary);
    box-shadow: -4px 4px 0 white;
    display: block;
    text-align: center;
    margin-bottom: 1em;
}
.item-form button{
    width: 100%;
}
.item-form label{
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}
.item-form span{
    color: #DA1414;
}
input,textarea{
    width: 100%;
    font-size: 1em;
    padding: 0.8em;
    border-radius: 0.5em;
    border: 1px solid #858C94;
}
.footer{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 768px){
    .menu-container{
        display: none;
    }
    .navigation{
        justify-content: flex-end;
    }
    .banner{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .banner-description{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .banner-img{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-content: center;
    }
    .banner-img img{
        max-width: 400px;
    }
    .projects {
        display: flex;
        flex-direction: column-reverse;
    }
    .testimony-copy {
        font-size: 16px;
        line-height: 26px;
      }
      
      .testimony-title {
        font-size: 12px;
        line-height: 20px;
      }
      .footer{
          flex-direction: column;
          align-items: center;
      }
      .footer-logo{
          display: none;
      }
      .footer-redes{
          order: -1;
          margin:1em 0;
      }
      .footer-copright{
          margin-bottom: 2em;
      }
}